In [46]:
import pandas as pd
import numpy as np

iterables = [["max", "average", "sum", "pca"], ["default", "all"]]

index = pd.MultiIndex.from_product(iterables, names=["combiner", "PCA"])

df = pd.DataFrame([np.random.randn(3) for i in range(8)] , index=index, columns=["rep", "prose", "dnabert"])

df

                       rep     prose   dnabert
combiner PCA
max      default  0.245226 -0.235176  1.208817
         all      0.311922 -0.356508  0.829456
average  default -0.328282  1.473124  0.448558
         all     -1.738427 -0.554569 -1.257909
sum      default  0.022380  0.831230 -1.578104
         all     -0.718366  0.100105  0.907652
pca      default -0.040856 -0.537628  0.704527
         all      0.071997 -0.722148 -0.653525

In [43]:
# to latex file
with open("table.tex", "w") as f:
    f.write(df.to_latex())

/tmp/ipykernel_15507/4075360656.py:3: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  f.write(df.to_latex())